@import "../../scss-kit/_index.scss";

$iuim-loading-z-index: 9999;

.iuim-loading-wrap {
    position: relative;

    .iuim-loading {
        position: absolute;
        background: transparent;
        background-color: rgba(255, 255, 255, 0.85);

        .iuim-loading-svg {
            background: none;
            padding: 0;
            width: 100%;
        }

        svg {
            width: rem(100);
            height: rem(100);
        }

        .spinner-type-1 path,
        .spinner-type-3 {
            fill: #3488eb;
        }

        .iuim-loading-text {
            color: #3488eb;
        }

        .spinner-type-2 circle {
            stroke: #3488eb;
        }
    }
}

.iuim-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: $iuim-loading-z-index;

    .iuim-loading-svg {
        background-color: rgba(0, 0, 0, 0.95);
        position: absolute;
        z-index: $iuim-loading-z-index + 100;
        transform: translateX(-50%) translateY(-30%);
        left: 50%;
        top: 30%;
        text-align: center;
        border-radius: rem(10);
        padding: rem(20);
    }

    .iuim-loading-text {
        text-align: center;
        color: #fff;
        font-size: rem(26);
        margin-top: rem(15);
    }

    svg {
        width: rem(70);
        height: rem(70);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .spinner-type-1 path,
    .spinner-type-3 {
        fill: #eee;
    }

    $offset: 140;
    $duration: 1.4s;

    .spinner-type-2 {
        animation: rotator $duration linear infinite;

        circle {
            stroke-dasharray: $offset;
            stroke-dashoffset: 0;
            transform-origin: center;
            stroke: #eee;
            animation: dash $duration ease-in-out infinite;
        }
    }

    @keyframes rotator {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(270deg);
        }
    }

    // @keyframes colors {
    //     0% {
    //         // stroke: #4285F4;
    //         stroke: #fff;
    //     }

    //     25% {
    //         // stroke: #DE3E35;
    //         stroke: #fff;
    //     }

    //     50% {
    //         // stroke: #F7C223;
    //         stroke: #fff;
    //     }

    //     75% {
    //         // stroke: #1B9A59;
    //         stroke: #fff;
    //     }

    //     100% {
    //         // stroke: #4285F4;
    //         stroke: #fff;
    //     }
    // }

    @keyframes dash {
        0% {
            stroke-dashoffset: $offset;
        }

        50% {
            stroke-dashoffset: $offset / 4;
            transform: rotate(135deg);
        }

        100% {
            stroke-dashoffset: $offset;
            transform: rotate(450deg);
        }
    }
}
