@import "../../scss-kit/_index.scss";

$iuim-loading-z-index: 9999;

.iuim-loading-wrap {
    position: relative;

    .iuim-loading {
        position: absolute;
    }
}

.iuim-loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: $iuim-loading-z-index;

    .iuim-loading-svg {
        position: absolute;
        z-index: $iuim-loading-z-index + 100;
        transform: translateX(-50%) translateY(-30%);
        left: 50%;
        top: 30%;
        width: 100%;
        height: rem(100);
        text-align: center;
    }

    .iuim-loading-text {
        text-align: center;
        color: #fff;
        font-size: rem(30);
        padding: rem(20) 0;
    }

    svg {
        width: rem(100);
        height: rem(100);
    }

    svg path,
    svg rect {
        fill: #eee;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
